<div class="container row">
  
    <div class="cv1 "> 
        <div class="box1">
        </div>
        <div>
            <div class="box2 col-lg-10 col-xl-8" >
                <h2>UTBILDNING </h2>
                    <div>
                        
                            <h4>
                            Frontendutvecklare
                            EC Utbildning, Västerås 
                        </h4>

                        <h4 > 
                            2020-08-24 – 2022-06-03​ 
                        </h4>
                        
                        <ul>
                            <li>Agil-projektledning</li>
                            <li>HTML-CSS</li>
                            <li>JAVASCRIPT 1-2-3</li>
                            <li>UX och grafisk design</li>
                            <li>Backend för frontendutvecklare1 -2</li>
                            <li> LIA 1, LIA 2 och examensarbete.</li>
                        </ul>
                    </div>
                    <div>
                            <h4>
                                Biological science 
                                Karbala university, Irak  
                        </h4>
                        
                        <h4 > 
                            2011-2012​ 
                        </h4>
                        
                        <ul>
                            <li>Biologi </li>
                            <li>Fysik</li>
                            <li>Data</li>
                            <li>Kemi</li>
                            <li>Geologi</li>
                            <li>Matematik</li>
                            <li>Engelska</li>
                        </ul>
            
              </div>
            </div>
           
            
            <div class="box5">
                
                   <div>
                        <h3 class=" mt-5 py-3 text-info">Kontakt:</h3>
                        <button class="btn ">         
                            <a routerLink="/kontakt"> <h4>Kontakta mig</h4></a>
                          </button>
                          
                        <h4>Jenan Sarabi</h4>
                        <h5> <i class="fa fa-phone-square bigicon"></i>0760307255 </h5>
                        <h5> <i class="far fa-envelope bigicon"></i> sarabi.ginan@gmail.com</h5>
                        <h5> <i class="fa fa-map-marker-alt bigicon"></i>Västerås</h5>
                   </div>
            </div>
        </div>
   
        <div>
            <div class="box3">
                <div >
                    <div>
           
                     <img class="d-md-flex " src="assets/image/Mask Group 1.svg"
                     alt="Generic placeholder image">
           
                    </div>
                  </div>
                  <h2 >        


                </h2>


                <h3>PROFIL: Jenan Sarabi
                </h3>
                <ul>
                    <li>Designintresserad </li>
                    <li>Driven och engagerad  </li>
                    <li>Team-arbete i projekt </li>
                    <li>Distance Team-arbete</li>

                </ul>
 

             </div>
             <div class="box4">
                <h3>MÅLSÄTTNING </h3>
                <ul >
                    <li>Vill utvecklas inom webbdesign och programmering </li>
                    <li>Vill lära mig så mycket som möjligt </li>
                  </ul>
          

             </div>
             <div class="box4b">
                <div>
                    <h3>IT-​KOMPETENSER​ </h3>
                    <ul>
                        <li>HTML och CSS </li>
                        <li>Design </li>
                        <li>JAVASCRIPT (VUE, REACT, ANGULAR</li>
                        <li>Agil-projektmetoder</li>
                      </ul>
                </div>
                <div>
                <h4>SPRÅK-​KOMPETENSER​ </h4>
                  <ul>
                      <li>Svenska</li>
                      <li>Engelska</li>
                      <li>Arabiska</li>
                      <li>Persiska</li>
                  </ul>
                </div>

             
                  <div >
                      <h4>ÖVRIGA​ KOMPETENSER​ </h4>
                         <li>Körkort</li>
                  </div>
             </div>

        </div>

      </div>



     
</div>